# Chapter 8: Join, Combine and Reshape

## Hierarchical indexing

It allows you to work with higher dimensional data in a lower dimensional form. For example:

In [1]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series

In [3]:
data = pd.Series(np.random.randn(9), index=[['a','a','a','b','b','c','c','d','d'], [1,2,3,1,3,1,2,2,3]])
data

a  1   -0.431083
   2   -0.983507
   3   -2.188526
b  1    0.662896
   3   -0.432764
c  1   -0.665135
   2    0.992855
d  2    0.362436
   3    1.394354
dtype: float64

In [4]:
data['b']

1    0.662896
3   -0.432764
dtype: float64

In [5]:
data.unstack()

          1         2         3
a -0.431083 -0.983507 -2.188526
b  0.662896       NaN -0.432764
c -0.665135  0.992855       NaN
d       NaN  0.362436  1.394354

## Reordering and sorting Levels
data.sort_index(level=1)

In [8]:
data.sort_index(level=1)

a  1   -0.431083
b  1    0.662896
c  1   -0.665135
a  2   -0.983507
c  2    0.992855
d  2    0.362436
a  3   -2.188526
b  3   -0.432764
d  3    1.394354
dtype: float64

In [11]:
data.swaplevel(0,1)

1  a   -0.431083
2  a   -0.983507
3  a   -2.188526
1  b    0.662896
3  b   -0.432764
1  c   -0.665135
2  c    0.992855
   d    0.362436
3  d    1.394354
dtype: float64

To move to and from columns / index you can use the `set_index` and `reset_index` methods. Where `set_index` removes columns and places them as indices, and `reset_index` does the inverse operation.

You can also opt to replicate the columns in an index rather than removing them by using `drop=False`.